<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/foundation.min.css"/>
    <title>{{page.title}}</title>
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<h1>Welcome to Foundation</h1>
		</div>
	</div>
	{{content}}
	<script type="application/javascript" src="lib/jquery.min.js"></script>
	<script type="application/javascript" src="lib/foundation.min.js"></script>
</body>
</html>